<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,180},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>bubble_creator0.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,89},{70,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{70,83}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>bubble_creator1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,105},{70,79}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{70,79}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>bubble_creator2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,161},{70,79}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{70,79}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>bubble_creator3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,177},{70,73}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{70,73}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>bubble_creator4.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,180},{70,71}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>bubble_creator5.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{70,71}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>bubble_creator6.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,105},{72,73}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{72,73}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>bubble_creator7.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,172},{72,77}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{72,77}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>bubble_creator8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,89},{70,81}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{70,81}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>bubble_creator_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{69,139}}</string>
                <key>sourceSize</key>
                <string>{133,139}</string>
            </dict>
            <key>bubble_creator_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{117,85}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{117,85}}</string>
                <key>sourceSize</key>
                <string>{133,139}</string>
            </dict>
            <key>bubble_creator_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{101,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,29},{101,81}}</string>
                <key>sourceSize</key>
                <string>{133,139}</string>
            </dict>
            <key>bubble_creator_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{69,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{69,117}}</string>
                <key>sourceSize</key>
                <string>{133,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubble_creator.png</string>
            <key>size</key>
            <string>{444,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:950ffc710d855c8a7428a95e94416f6c:1/1$</string>
            <key>textureFileName</key>
            <string>bubble_creator.png</string>
        </dict>
    </dict>
</plist>
