<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gate_blue0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{78,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,57}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_blue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{76,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,57}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_blue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{76,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{76,55}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_blue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,351},{76,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{76,55}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_blue4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,350},{76,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{76,55}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_blue5.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,61},{78,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,57}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_blue6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{78,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,55}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_nor0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>gate_nor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{76,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,56}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>gate_nor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,236},{76,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,56}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>gate_nor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,235},{76,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{76,56}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>gate_nor4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,177},{76,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{76,56}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>gate_nor5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,119},{78,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,56}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>gate_nor6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,61},{78,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,56}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>gate_red0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,57}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,177},{76,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,57}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{76,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{76,55}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,294},{76,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{76,55}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,293},{76,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{76,55}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,57}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>gate_red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,120},{78,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,55}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gate.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:137953e4be727e44a0513be3b80c71cd:1/1$</string>
            <key>textureFileName</key>
            <string>gate.png</string>
        </dict>
    </dict>
</plist>
