<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mountainLayer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,80},{852,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,71}}</string>
                <key>sourceSize</key>
                <string>{852,71}</string>
            </dict>
            <key>mountainLayer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{852,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,76}}</string>
                <key>sourceSize</key>
                <string>{852,76}</string>
            </dict>
            <key>mountainLayer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{852,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,221}}</string>
                <key>sourceSize</key>
                <string>{852,221}</string>
            </dict>
            <key>sky1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{840,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,253}}</string>
                <key>sourceSize</key>
                <string>{840,253}</string>
            </dict>
            <key>springGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,153},{852,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,49}}</string>
                <key>sourceSize</key>
                <string>{852,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa01c9679105cb56c28c38be8a9530f2$</string>
            <key>textureFileName</key>
            <string>stage.png</string>
        </dict>
    </dict>
</plist>
