<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GUITotalLevelTop_panel_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1273},{42,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,106}}</string>
                <key>sourceSize</key>
                <string>{42,106}</string>
            </dict>
            <key>button_share_type_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1410},{66,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>button_share_type_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1525},{68,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>button_tuijianhaoyou-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1423},{68,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>button_tuijianhaoyou-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1417},{66,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>coke_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1331},{150,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{150,46}}</string>
                <key>sourceSize</key>
                <string>{160,56}</string>
            </dict>
            <key>icon_fresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1563},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>image_panel_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{300,110}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{300,110}}</string>
                <key>sourceSize</key>
                <string>{308,114}</string>
            </dict>
            <key>joystick_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1597},{70,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>map_aid_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,208},{164,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,40}}</string>
                <key>sourceSize</key>
                <string>{164,40}</string>
            </dict>
            <key>map_btn_ask_help_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,962},{198,76}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{198,76}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>map_btn_ask_help_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1271},{182,70}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{182,70}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>map_btn_back_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1596},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>map_btn_back_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1525},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>map_btn_challenge_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1206},{122,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{122,67}}</string>
                <key>sourceSize</key>
                <string>{126,69}</string>
            </dict>
            <key>map_btn_challenge_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1275},{122,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,66}}</string>
                <key>sourceSize</key>
                <string>{126,70}</string>
            </dict>
            <key>map_btn_challenge_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,70},{118,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{118,70}}</string>
                <key>sourceSize</key>
                <string>{126,70}</string>
            </dict>
            <key>map_btn_challenge_three_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,322},{198,76}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{198,76}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>map_btn_challenge_three_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1195},{188,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{188,76}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>map_btn_coke_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1491},{142,142}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{142,142}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>map_btn_coke_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1379},{144,144}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>map_btn_friend_help_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1273},{154,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,56}}</string>
                <key>sourceSize</key>
                <string>{154,60}</string>
            </dict>
            <key>map_btn_friend_help_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,582},{148,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{154,60}</string>
            </dict>
            <key>map_btn_new_pack_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,732},{98,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{98,86}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>map_btn_new_pack_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,832},{94,86}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{94,86}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>map_circle_btn_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1536},{56,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{56,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>map_circle_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,336},{62,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>map_circle_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,400},{82,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{82,30}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>map_coke_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{146,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,206}}</string>
                <key>sourceSize</key>
                <string>{146,206}</string>
            </dict>
            <key>map_coke_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,730},{146,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,206}}</string>
                <key>sourceSize</key>
                <string>{146,206}</string>
            </dict>
            <key>map_coke_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{146,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,206}}</string>
                <key>sourceSize</key>
                <string>{146,206}</string>
            </dict>
            <key>map_coke_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,582},{146,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,206}}</string>
                <key>sourceSize</key>
                <string>{146,206}</string>
            </dict>
            <key>map_coke_label_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1635},{124,50}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,50}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>map_coke_star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,250},{70,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{70,72}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>map_coke_star_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,250},{70,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{70,72}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>map_cur_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,70},{134,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{134,40}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>map_diamond_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{204,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,50}}</string>
                <key>sourceSize</key>
                <string>{204,50}</string>
            </dict>
            <key>map_friend_btn_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1635},{52,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{52,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>map_friend_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1478},{58,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{58,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>map_heart_add_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,542},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>map_heart_add_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1379},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>map_label_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,224},{96,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,38}}</string>
                <key>sourceSize</key>
                <string>{100,42}</string>
            </dict>
            <key>map_label_new_pack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,920},{205,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,40}}</string>
                <key>sourceSize</key>
                <string>{205,40}</string>
            </dict>
            <key>map_label_new_pack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,878},{205,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,40}}</string>
                <key>sourceSize</key>
                <string>{205,40}</string>
            </dict>
            <key>map_label_option_ask_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1203},{186,66}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{186,66}}</string>
                <key>sourceSize</key>
                <string>{204,80}</string>
            </dict>
            <key>map_label_option_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1343},{92,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,65}}</string>
                <key>sourceSize</key>
                <string>{92,65}</string>
            </dict>
            <key>map_label_space_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,66}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{454,66}}</string>
                <key>sourceSize</key>
                <string>{470,82}</string>
            </dict>
            <key>map_label_unlock_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{340,152}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{340,152}}</string>
                <key>sourceSize</key>
                <string>{350,160}</string>
            </dict>
            <key>map_mail_button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1493},{66,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>map_mail_button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1607},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>map_mail_count_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1381},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>map_new_pack_price_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{194,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{194,97}}</string>
                <key>sourceSize</key>
                <string>{194,107}</string>
            </dict>
            <key>map_new_pack_price_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1040},{194,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{194,97}}</string>
                <key>sourceSize</key>
                <string>{194,107}</string>
            </dict>
            <key>map_new_pack_price_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1010},{194,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{194,97}}</string>
                <key>sourceSize</key>
                <string>{194,107}</string>
            </dict>
            <key>map_share_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1145},{192,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,56}}</string>
                <key>sourceSize</key>
                <string>{192,56}</string>
            </dict>
            <key>map_share_button_su.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1139},{54,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,194}}</string>
                <key>sourceSize</key>
                <string>{54,194}</string>
            </dict>
            <key>map_shop_button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1525},{78,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>map_shop_button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,928},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>map_space_option_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{178,236}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{178,236}}</string>
                <key>sourceSize</key>
                <string>{190,250}</string>
            </dict>
            <key>map_space_option_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,400},{180,236}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{180,236}}</string>
                <key>sourceSize</key>
                <string>{190,250}</string>
            </dict>
            <key>map_space_option_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{180,236}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{180,236}}</string>
                <key>sourceSize</key>
                <string>{190,250}</string>
            </dict>
            <key>map_time_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{196,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,50}}</string>
                <key>sourceSize</key>
                <string>{196,50}</string>
            </dict>
            <key>mineBg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1343},{146,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>wenzi-fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,484},{56,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,30}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_GUIMap_Ch.png</string>
            <key>size</key>
            <string>{510,1690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a057f8ff8c418413b3820eb88facbdfe:1/1$</string>
            <key>textureFileName</key>
            <string>_GUIMap_Ch.png</string>
        </dict>
    </dict>
</plist>
