<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>push_btn_goto_shop_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,2},{192,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,66}}</string>
			<key>sourceSize</key>
			<string>{192,66}</string>
		</dict>
		<key>push_btn_goto_shop_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{200,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,78}}</string>
			<key>sourceSize</key>
			<string>{200,78}</string>
		</dict>
		<key>push_btn_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,2},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{42,42}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>push_btn_unselect.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,2},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{42,42}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>push_label_never_show.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,2},{258,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,38}}</string>
			<key>sourceSize</key>
			<string>{258,38}</string>
		</dict>
		<key>push_label_show_price.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,2},{112,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,26}}</string>
			<key>sourceSize</key>
			<string>{112,26}</string>
		</dict>
		<key>push_label_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,46},{402,34}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{402,34}}</string>
			<key>sourceSize</key>
			<string>{406,38}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>_GUIFailedItemPush_Ch.png</string>
		<key>size</key>
		<string>{860,82}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4dbb3652f53d9c461260a6e3a943b576:1/1$</string>
		<key>textureFileName</key>
		<string>_GUIFailedItemPush_Ch.png</string>
	</dict>
</dict>
</plist>
