<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>option_about_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,162},{142,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,66}}</string>
			<key>sourceSize</key>
			<string>{142,66}</string>
		</dict>
		<key>option_about_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,82},{156,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,78}}</string>
			<key>sourceSize</key>
			<string>{156,78}</string>
		</dict>
		<key>option_check_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,2},{362,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,66}}</string>
			<key>sourceSize</key>
			<string>{362,66}</string>
		</dict>
		<key>option_check_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,148},{374,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{374,78}}</string>
			<key>sourceSize</key>
			<string>{374,78}</string>
		</dict>
		<key>option_code_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,80},{426,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{426,66}}</string>
			<key>sourceSize</key>
			<string>{426,66}</string>
		</dict>
		<key>option_code_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{436,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{436,76}}</string>
			<key>sourceSize</key>
			<string>{436,76}</string>
		</dict>
		<key>option_forum_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,104},{288,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,66}}</string>
			<key>sourceSize</key>
			<string>{288,66}</string>
		</dict>
		<key>option_forum_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{804,2},{300,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,78}}</string>
			<key>sourceSize</key>
			<string>{300,78}</string>
		</dict>
		<key>option_label_check.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,70},{310,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,32}}</string>
			<key>sourceSize</key>
			<string>{310,32}</string>
		</dict>
		<key>option_label_main.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,104},{58,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,34}}</string>
			<key>sourceSize</key>
			<string>{58,34}</string>
		</dict>
		<key>option_logout_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,150},{192,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,66}}</string>
			<key>sourceSize</key>
			<string>{192,66}</string>
		</dict>
		<key>option_logout_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,172},{200,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,78}}</string>
			<key>sourceSize</key>
			<string>{200,78}</string>
		</dict>
		<key>option_quit_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,82},{192,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,66}}</string>
			<key>sourceSize</key>
			<string>{192,66}</string>
		</dict>
		<key>option_quit_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,172},{200,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,78}}</string>
			<key>sourceSize</key>
			<string>{200,78}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>_GUIPopupOption_Ch.png</string>
		<key>size</key>
		<string>{1134,252}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0a695d165b1703414c7f48fcd7078aa2$</string>
		<key>textureFileName</key>
		<string>_GUIPopupOption_Ch.png</string>
	</dict>
</dict>
</plist>
