<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opening_ceremony_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>opening_ceremony_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{523,136}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{523,136}}</string>
                <key>sourceSize</key>
                <string>{601,142}</string>
            </dict>
            <key>opening_ceremony_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{387,126}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,0},{387,126}}</string>
                <key>sourceSize</key>
                <string>{601,142}</string>
            </dict>
            <key>opening_ceremony_destroy.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,140},{387,108}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,0},{387,108}}</string>
                <key>sourceSize</key>
                <string>{601,142}</string>
            </dict>
            <key>opening_ceremony_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,130},{445,114}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{445,114}}</string>
                <key>sourceSize</key>
                <string>{601,142}</string>
            </dict>
            <key>opening_ceremony_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{157,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,42}}</string>
                <key>sourceSize</key>
                <string>{157,42}</string>
            </dict>
            <key>opening_ceremony_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,2},{369,100}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,3},{369,100}}</string>
                <key>sourceSize</key>
                <string>{601,142}</string>
            </dict>
            <key>opening_ceremony_multi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,112},{307,108}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,0},{307,108}}</string>
                <key>sourceSize</key>
                <string>{601,142}</string>
            </dict>
            <key>opening_ceremony_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{349,108}}</string>
                <key>offset</key>
                <string>{19,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,0},{349,108}}</string>
                <key>sourceSize</key>
                <string>{601,142}</string>
            </dict>
            <key>opening_ceremony_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,140},{387,108}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,0},{387,108}}</string>
                <key>sourceSize</key>
                <string>{601,142}</string>
            </dict>
            <key>opening_ceremony_unlock_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{149,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,42}}</string>
                <key>sourceSize</key>
                <string>{149,42}</string>
            </dict>
            <key>opening_label_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,153},{13,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{13,34}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>opening_label_with.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,153},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>opening_obj_floor_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,104},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>opening_obj_floor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,174},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>opening_obj_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,174},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_GUIGameLevelOpening_Ch.png</string>
            <key>size</key>
            <string>{1835,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fec6b6b00464f7b240ab691dbab1449:1/1$</string>
            <key>textureFileName</key>
            <string>_GUIGameLevelOpening_Ch.png</string>
        </dict>
    </dict>
</plist>
