<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_flow_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{108,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>map_green_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,122}}</string>
                <key>offset</key>
                <string>{18,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,18},{168,122}}</string>
                <key>sourceSize</key>
                <string>{220,340}</string>
            </dict>
            <key>map_level_aureole.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{117,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,118}}</string>
                <key>sourceSize</key>
                <string>{117,118}</string>
            </dict>
            <key>map_level_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1263},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>map_level_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1195},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>map_photo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>map_rate_star_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,789},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>map_space_light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1350},{46,48}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{46,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>map_space_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,901},{17,18}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{17,18}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>map_space_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,859},{21,18}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{21,18}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>map_space_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,837},{21,20}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{21,20}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>map_space_station_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{166,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,92}}</string>
                <key>sourceSize</key>
                <string>{166,92}</string>
            </dict>
            <key>map_space_station_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{166,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,92}}</string>
                <key>sourceSize</key>
                <string>{166,92}</string>
            </dict>
            <key>map_space_way_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,879},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>map_zone_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,5},{115,39}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>map_zone_name_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{113,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,5},{113,39}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>map_zone_name_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,5},{115,39}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>map_zone_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,5},{115,39}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>map_zone_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{113,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,5},{113,39}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>map_zone_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,5},{115,39}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>map_zone_name_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{115,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,4},{115,39}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>map_zone_name_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1195},{153,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,4},{153,39}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>map_zone_name_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{115,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,4},{115,39}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>map_zone_name_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{115,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,4},{115,39}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>map_zone_name_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{113,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,5},{113,39}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>map_zone_name_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,814},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>panel_guanqiarukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1125},{68,84}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{68,84}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_MainMap_Ch.png</string>
            <key>size</key>
            <string>{127,1412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11c3f97683f6efbc53df8b50f44d9c51:1/1$</string>
            <key>textureFileName</key>
            <string>_MainMap_Ch.png</string>
        </dict>
    </dict>
</plist>
