<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>free_candy.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,690},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goldenKeyStar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1157},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>goldenKeyStar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,102},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>goldenKeyStar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1172},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>goldenKeyStar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>goldenKeyStar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>goldenKeyStar_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>goldenKeyStar_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1102},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,729},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_diamond_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1157},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>icon_diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,420},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>icon_diamond_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1125},{91,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,116}}</string>
                <key>sourceSize</key>
                <string>{91,116}</string>
            </dict>
            <key>icon_diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,940},{108,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,114}}</string>
                <key>sourceSize</key>
                <string>{108,114}</string>
            </dict>
            <key>icon_diamond_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,450},{113,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,122}}</string>
                <key>sourceSize</key>
                <string>{113,122}</string>
            </dict>
            <key>icon_diamond_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,292},{126,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,118}}</string>
                <key>sourceSize</key>
                <string>{126,118}</string>
            </dict>
            <key>icon_diamond_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{203,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,110}}</string>
                <key>sourceSize</key>
                <string>{203,110}</string>
            </dict>
            <key>icon_diamond_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{232,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,146}}</string>
                <key>sourceSize</key>
                <string>{232,146}</string>
            </dict>
            <key>icon_diamond_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{210,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{210,158}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>icon_diamond_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,186}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{234,186}}</string>
                <key>sourceSize</key>
                <string>{240,186}</string>
            </dict>
            <key>icon_heart_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1102},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>icon_heart_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1056},{99,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,107}}</string>
                <key>sourceSize</key>
                <string>{99,107}</string>
            </dict>
            <key>icon_heart_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,162},{128,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,118}</string>
            </dict>
            <key>icon_heart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{149,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,125}}</string>
                <key>sourceSize</key>
                <string>{149,125}</string>
            </dict>
            <key>icon_heart_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{158,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,125}}</string>
                <key>sourceSize</key>
                <string>{158,125}</string>
            </dict>
            <key>icon_heart_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,822},{116,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{116,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,861},{130,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,558},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,426},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,294},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,162},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,970},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,838},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,706},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_item_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,574},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_item_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,993},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_item_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_package_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,577},{150,89}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{150,89}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>icon_package_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{148,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>icon_package_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{160,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,119}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>IconItem.png</string>
            <key>size</key>
            <string>{509,1224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43d58a1cc593e2419ff258ca8d9625ff:1/1$</string>
            <key>textureFileName</key>
            <string>IconItem.png</string>
        </dict>
    </dict>
</plist>
