<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble_creator_shatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1390},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>color_explode10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1028},{126,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode11.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1348},{100,102}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{100,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode12.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1252},{104,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{104,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode20.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,900},{126,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode21.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1244},{100,102}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{100,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode22.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1356},{104,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{104,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode30.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,900},{126,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode31.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1348},{100,102}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{100,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode32.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1252},{104,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{104,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode40.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,900},{126,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode41.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1244},{100,102}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{100,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode42.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1140},{104,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{104,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode50.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,900},{126,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode51.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1358},{100,102}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{100,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode52.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1140},{104,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{104,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1310},{76,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{76,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>color_explode_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,642},{500,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{500,78}}</string>
                <key>sourceSize</key>
                <string>{500,80}</string>
            </dict>
            <key>color_explode_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,562},{500,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{500,78}}</string>
                <key>sourceSize</key>
                <string>{500,80}</string>
            </dict>
            <key>color_explode_line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,482},{500,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{500,78}}</string>
                <key>sourceSize</key>
                <string>{500,80}</string>
            </dict>
            <key>color_explode_line4.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,402},{500,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{500,78}}</string>
                <key>sourceSize</key>
                <string>{500,80}</string>
            </dict>
            <key>color_explode_line5.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,322},{500,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{500,78}}</string>
                <key>sourceSize</key>
                <string>{500,80}</string>
            </dict>
            <key>explode0.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1230},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{78,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,462},{138,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{138,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode10.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1140},{110,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode11.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1140},{110,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode12.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1118},{110,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode13.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1390},{110,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode14.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1278},{110,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,322},{138,136}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{138,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1006},{110,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode4.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1028},{110,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode5.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1028},{110,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode6.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1028},{110,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode7.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1028},{110,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode8.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,834},{110,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>explode9.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,722},{110,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ice_shatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1252},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>line0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1156},{120,120}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{120,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,376}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{378,376}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,380},{104,640}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{104,640}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{112,640}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{112,640}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>lock_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1230},{14,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,57}}</string>
                <key>sourceSize</key>
                <string>{16,57}</string>
            </dict>
            <key>lock_po.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,602},{21,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,11}}</string>
                <key>sourceSize</key>
                <string>{21,11}</string>
            </dict>
            <key>shandian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,380},{48,640}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{48,640}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>shandian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,380},{48,640}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{48,640}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>shandian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,380},{48,640}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{48,640}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>shandian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,380},{62,640}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{62,640}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>shandian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,380},{62,640}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{62,640}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>shandian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,380},{62,640}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{62,640}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>shandian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,380},{38,640}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{38,640}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>shandian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,380},{38,640}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{38,640}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>small_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1230},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1460},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>stone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1278},{38,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{38,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>x_explode0.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,602},{118,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,101},{118,118}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>x_explode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{318,318}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{318,318}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>x_explode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{318,318}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{318,318}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>x_explode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{316,310}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{316,310}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>x_explode4.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,722},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{176,176}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>x_explode5.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,722},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{176,176}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>x_explode6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,722},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{176,176}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>x_explode7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1334},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{176,176}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>x_explode8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{176,176}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>x_explode9.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,946},{108,58}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,124},{108,58}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects.png</string>
            <key>size</key>
            <string>{1022,1512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:529a0cae87779e9a979329a83928734c:af25a49196fee6dbe3f658a8e942966e:ed94ff99ccfdc1a5d4b266f4603472f0$</string>
            <key>textureFileName</key>
            <string>effects.png</string>
        </dict>
    </dict>
</plist>
