<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hatch_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,385},{71,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{71,72}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_colorful.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,229},{77,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{77,78}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,389},{77,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{77,78}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_open_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,115},{111,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_open_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{111,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_open_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{111,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_open_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{111,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_open_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{111,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_open_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{111,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_open_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{111,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_open_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,309},{77,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{77,78}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,115},{75,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{75,76}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,309},{73,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{73,74}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>hatch_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,229},{77,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{77,78}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hatch.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a4202a643655b07ad90e6b5d61649fc$</string>
            <key>textureFileName</key>
            <string>hatch.png</string>
        </dict>
    </dict>
</plist>
