<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{167,209}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,209}}</string>
                <key>sourceSize</key>
                <string>{167,211}</string>
            </dict>
            <key>loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{167,209}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,209}}</string>
                <key>sourceSize</key>
                <string>{167,211}</string>
            </dict>
            <key>loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,209}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,209}}</string>
                <key>sourceSize</key>
                <string>{167,211}</string>
            </dict>
            <key>loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,340},{167,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,211}}</string>
                <key>sourceSize</key>
                <string>{167,211}</string>
            </dict>
            <key>loading_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{167,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,211}}</string>
                <key>sourceSize</key>
                <string>{167,211}</string>
            </dict>
            <key>loading_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,171},{167,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,211}}</string>
                <key>sourceSize</key>
                <string>{167,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{428,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfccabec0c00d2469ed3bed04abecf1b$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
