<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mountainLayer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,625},{600,52}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{600,52}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>mountainLayer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,23},{600,62}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{600,62}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>mountainLayer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{600,156}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{600,156}}</string>
                <key>sourceSize</key>
                <string>{600,166}</string>
            </dict>
            <key>sky1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,180}}</string>
                <key>sourceSize</key>
                <string>{600,180}</string>
            </dict>
            <key>sky2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{64,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,19}}</string>
                <key>sourceSize</key>
                <string>{64,19}</string>
            </dict>
            <key>spring1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,625},{600,52}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{600,52}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>spring2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,23},{600,62}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{600,62}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>spring3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{600,156}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{600,156}}</string>
                <key>sourceSize</key>
                <string>{600,166}</string>
            </dict>
            <key>springGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,625},{600,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,36}}</string>
                <key>sourceSize</key>
                <string>{600,36}</string>
            </dict>
            <key>summerGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,625},{600,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,36}}</string>
                <key>sourceSize</key>
                <string>{600,36}</string>
            </dict>
            <key>wholeClouds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{600,158}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{600,158}}</string>
                <key>sourceSize</key>
                <string>{600,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tp_bg.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd087b4242a0cc9a306776d209044a52:1/1$</string>
            <key>textureFileName</key>
            <string>tp_bg.png</string>
        </dict>
    </dict>
</plist>
