<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,1000},{12,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{12,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>1full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{12,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{12,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,119},{34,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{34,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,119},{34,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{34,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>2empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{34,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{34,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,477},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,477},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,472},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,425},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,472},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,425},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,378},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,329},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,329},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,329},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,158},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>comboHolder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,35}}</string>
                <key>sourceSize</key>
                <string>{406,35}</string>
            </dict>
            <key>damageIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,477},{44,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>enemyHealthIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,193},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>enemyHealthIconDeath.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,129},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>enemyHealthIconDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,289},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{58,65}</string>
            </dict>
            <key>enemyHealthIconDragonPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,257},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{58,65}</string>
            </dict>
            <key>enemyHealthIconKnight.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>enemyHealthIconOgre.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,317},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>healthBarBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,378},{259,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,42}}</string>
                <key>sourceSize</key>
                <string>{259,42}</string>
            </dict>
            <key>heroHealthIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,65},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>leaderboardBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,289},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>powerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,119},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>quitBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>resumeBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>rewardBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,39},{248,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,226}}</string>
                <key>sourceSize</key>
                <string>{248,226}</string>
            </dict>
            <key>rewardBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,422},{232,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,53}}</string>
                <key>sourceSize</key>
                <string>{232,53}</string>
            </dict>
            <key>uiHolder3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{840,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,174}}</string>
                <key>sourceSize</key>
                <string>{840,174}</string>
            </dict>
            <key>whiteBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{154,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,12}}</string>
                <key>sourceSize</key>
                <string>{154,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tp_ui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:023b6f06e227a0312e9b84324180af75:1/1$</string>
            <key>textureFileName</key>
            <string>tp_ui.png</string>
        </dict>
    </dict>
</plist>
