<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mountainLayer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,80},{840,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,71}}</string>
                <key>sourceSize</key>
                <string>{840,71}</string>
            </dict>
            <key>mountainLayer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{840,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,76}}</string>
                <key>sourceSize</key>
                <string>{840,76}</string>
            </dict>
            <key>mountainLayer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{840,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,221}}</string>
                <key>sourceSize</key>
                <string>{840,221}</string>
            </dict>
            <key>sky1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{840,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,253}}</string>
                <key>sourceSize</key>
                <string>{840,253}</string>
            </dict>
            <key>springGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,153},{840,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,49}}</string>
                <key>sourceSize</key>
                <string>{840,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51fe47c3ed1783e28131bd12e85945c4$</string>
            <key>textureFileName</key>
            <string>stage.png</string>
        </dict>
    </dict>
</plist>
