<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haze_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>haze_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>haze_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ceils.png</string>
            <key>size</key>
            <string>{82,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99fb2bd9d4992049240639e88966ca68$</string>
            <key>textureFileName</key>
            <string>ceils.png</string>
        </dict>
    </dict>
</plist>
