<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>first_cell-first_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{652,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,209}}</string>
                <key>sourceSize</key>
                <string>{652,209}</string>
            </dict>
            <key>first_cell-first_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1365},{219,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,55}}</string>
                <key>sourceSize</key>
                <string>{219,55}</string>
            </dict>
            <key>first_cell-first_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1365},{286,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,186}}</string>
                <key>sourceSize</key>
                <string>{286,186}</string>
            </dict>
            <key>first_cell-first_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{626,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,331}}</string>
                <key>sourceSize</key>
                <string>{626,331}</string>
            </dict>
            <key>first_cell-first_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,546},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>first_cell-first_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,591},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>first_cell-first_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1422},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>first_cell-first_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,398},{382,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,139}}</string>
                <key>sourceSize</key>
                <string>{382,139}</string>
            </dict>
            <key>first_cell-first_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1560},{120,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,61}}</string>
                <key>sourceSize</key>
                <string>{120,61}</string>
            </dict>
            <key>first_cell-first_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1583},{91,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,99}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>first_cell-first_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1038},{325,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,442}}</string>
                <key>sourceSize</key>
                <string>{325,442}</string>
            </dict>
            <key>first_cell-first_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1583},{98,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,84}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>second_cell-second_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{538,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,256}}</string>
                <key>sourceSize</key>
                <string>{538,256}</string>
            </dict>
            <key>second_cell-second_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1956},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>second_cell-second_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1560},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>second_cell-second_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{578,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,255}}</string>
                <key>sourceSize</key>
                <string>{578,255}</string>
            </dict>
            <key>second_cell-second_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1839},{105,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,115}}</string>
                <key>sourceSize</key>
                <string>{105,115}</string>
            </dict>
            <key>second_cell-second_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1718},{179,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,119}}</string>
                <key>sourceSize</key>
                <string>{179,119}</string>
            </dict>
            <key>second_cell-second_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1685},{300,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,322}}</string>
                <key>sourceSize</key>
                <string>{300,322}</string>
            </dict>
            <key>second_cell-second_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,539},{121,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,375}}</string>
                <key>sourceSize</key>
                <string>{121,375}</string>
            </dict>
            <key>second_cell-second_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,305},{91,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,387}}</string>
                <key>sourceSize</key>
                <string>{91,387}</string>
            </dict>
            <key>second_cell-second_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1354},{227,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{227,150}}</string>
                <key>sourceSize</key>
                <string>{229,150}</string>
            </dict>
            <key>second_cell-second_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,662},{431,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,374}}</string>
                <key>sourceSize</key>
                <string>{431,374}</string>
            </dict>
            <key>second_cell-second_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1839},{177,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,101}}</string>
                <key>sourceSize</key>
                <string>{177,101}</string>
            </dict>
            <key>third_cell-third_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{339,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,301}}</string>
                <key>sourceSize</key>
                <string>{339,301}</string>
            </dict>
            <key>third_cell-third_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1653},{181,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,63}}</string>
                <key>sourceSize</key>
                <string>{181,63}</string>
            </dict>
            <key>third_cell-third_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1685},{229,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,327}}</string>
                <key>sourceSize</key>
                <string>{229,327}</string>
            </dict>
            <key>third_cell-third_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1683},{270,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,337}}</string>
                <key>sourceSize</key>
                <string>{270,337}</string>
            </dict>
            <key>third_cell-third_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{366,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,329}}</string>
                <key>sourceSize</key>
                <string>{366,329}</string>
            </dict>
            <key>third_cell-third_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1061},{537,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,291}}</string>
                <key>sourceSize</key>
                <string>{537,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>story.png</string>
            <key>size</key>
            <string>{1019,2023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaa1ce394bb0231510e92a6f6b6b2d97:da0e44e11947809d1b2a0cf3267f71f4:2457453c0f32c105c49717218ecffe8c$</string>
            <key>textureFileName</key>
            <string>story.png</string>
        </dict>
    </dict>
</plist>
