<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>share_btn_mail_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,926},{198,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{198,76}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>share_btn_mail_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,838},{182,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{182,72}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>share_btn_renren_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,726},{198,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{198,76}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>share_btn_renren_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,654},{182,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{182,72}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>share_btn_sina_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,526},{198,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{198,76}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>share_btn_sina_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,470},{182,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{182,72}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>share_btn_tencent_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{198,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{198,76}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>share_btn_tencent_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,286},{182,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{182,72}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>share_btn_wechat_circle_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{198,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{198,76}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>share_btn_wechat_circle_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{182,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{182,72}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>share_btn_wechat_friend_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{198,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{198,76}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>share_btn_wechat_friend_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{182,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{182,72}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>share_label_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1022},{94,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,48}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>share_panel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{238,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,140}}</string>
                <key>sourceSize</key>
                <string>{238,140}</string>
            </dict>
            <key>share_panel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,180}}</string>
                <key>sourceSize</key>
                <string>{282,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_GUIMultiShare_Ch.png</string>
            <key>size</key>
            <string>{232,1274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:805ffb63e5d42a21637b15f3a45fe77d:1/1$</string>
            <key>textureFileName</key>
            <string>_GUIMultiShare_Ch.png</string>
        </dict>
    </dict>
</plist>
