<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GUIFriendsScoresTop_BtnDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,834},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>GUIFriendsScoresTop_BtnInviteDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,644},{136,60}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{136,60}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>GUIFriendsScoresTop_BtnInviteUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{138,54}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{138,54}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>GUIFriendsScoresTop_BtnLoginDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{138,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{138,62}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>GUIFriendsScoresTop_BtnLoginUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{146,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{146,64}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>GUIFriendsScoresTop_BtnUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,107},{42,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{42,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>GUIFriendsScoresTop_Invalid.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,301},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>GUIFriendsScoresTop_Panel0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,640}}</string>
                <key>sourceSize</key>
                <string>{192,640}</string>
            </dict>
            <key>GUIFriendsScoresTop_Panel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{161,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,92}}</string>
                <key>sourceSize</key>
                <string>{161,92}</string>
            </dict>
            <key>GUIFriendsScoresTop_Panel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{161,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,92}}</string>
                <key>sourceSize</key>
                <string>{161,92}</string>
            </dict>
            <key>GUIFriendsScoresTop_Panel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,229},{70,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,26}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>GUIFriendsScoresTop_PhotoFake.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,782},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GUIFriendsScoresTop_Txt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>GUIFriendsScoresTop_Txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,898},{100,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,9},{100,80}}</string>
                <key>sourceSize</key>
                <string>{172,96}</string>
            </dict>
            <key>GUIFriendsScoresTop_Txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,151},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_GUIFriendsScoresTop_Ch.png</string>
            <key>size</key>
            <string>{228,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03bff9ee948c58a16def51babd2c88b5:1/1$</string>
            <key>textureFileName</key>
            <string>_GUIFriendsScoresTop_Ch.png</string>
        </dict>
    </dict>
</plist>
