<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GUITotalLevelTop_btnMan_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1856},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{112,56}</string>
            </dict>
            <key>GUITotalLevelTop_btnMan_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1962},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>GUITotalLevelTop_btnTotal_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{112,56}</string>
            </dict>
            <key>GUITotalLevelTop_btnTotal_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1914},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>GUITotalLevelTop_btnWoman_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1856},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{112,56}</string>
            </dict>
            <key>GUITotalLevelTop_btnWoman_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1914},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>GUITotalLevelTop_kuang_panel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{402,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,518}}</string>
                <key>sourceSize</key>
                <string>{402,518}</string>
            </dict>
            <key>GUITotalLevelTop_kuang_panel_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{402,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,518}}</string>
                <key>sourceSize</key>
                <string>{402,518}</string>
            </dict>
            <key>GUITotalLevelTop_kuang_panel_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,518}}</string>
                <key>sourceSize</key>
                <string>{402,518}</string>
            </dict>
            <key>GUITotalLevelTop_panel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{420,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,640}}</string>
                <key>sourceSize</key>
                <string>{420,640}</string>
            </dict>
            <key>GUITotalLevelTop_panel_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1588},{372,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,92}}</string>
                <key>sourceSize</key>
                <string>{372,92}</string>
            </dict>
            <key>GUITotalLevelTop_panel_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1214},{372,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,92}}</string>
                <key>sourceSize</key>
                <string>{372,92}</string>
            </dict>
            <key>GUITotalLevelTop_panel_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1962},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>GUITotalLevelTop_panel_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1914},{42,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,106}}</string>
                <key>sourceSize</key>
                <string>{42,106}</string>
            </dict>
            <key>GUITotalLevelTop_panel_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1914},{42,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,106}}</string>
                <key>sourceSize</key>
                <string>{42,106}</string>
            </dict>
            <key>icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1856},{32,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{32,38}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>icon_huangguan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1962},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>icon_huangguan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1962},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>icon_huangguan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1962},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>icon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1914},{32,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{32,38}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_GUITotalLevelTop_Ch.png</string>
            <key>size</key>
            <string>{522,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cb6a4d38536a156caaf73e1876e78ef:1/1$</string>
            <key>textureFileName</key>
            <string>_GUITotalLevelTop_Ch.png</string>
        </dict>
    </dict>
</plist>
