<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_moves_star0.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,84},{26,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{26,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>add_moves_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>add_moves_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{38,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>add_moves_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{30,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>add_moves_star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,44},{22,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{22,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>add_moves_star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,112},{14,14}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{14,14}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>add_moves_star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{6,4}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{6,4}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>add_moves_star.png</string>
            <key>size</key>
            <string>{66,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:419299bf35c6a63758f89b033bbf06c6$</string>
            <key>textureFileName</key>
            <string>add_moves_star.png</string>
        </dict>
    </dict>
</plist>
