<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mountainLayer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{840,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,71}}</string>
                <key>sourceSize</key>
                <string>{840,71}</string>
            </dict>
            <key>mountainLayer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{840,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,76}}</string>
                <key>sourceSize</key>
                <string>{840,76}</string>
            </dict>
            <key>mountainLayer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{840,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,221}}</string>
                <key>sourceSize</key>
                <string>{840,221}</string>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{840,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,253}}</string>
                <key>sourceSize</key>
                <string>{840,253}</string>
            </dict>
            <key>sky1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{840,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,253}}</string>
                <key>sourceSize</key>
                <string>{840,253}</string>
            </dict>
            <key>sky2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{64,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,19}}</string>
                <key>sourceSize</key>
                <string>{64,19}</string>
            </dict>
            <key>spring1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,844},{840,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,71}}</string>
                <key>sourceSize</key>
                <string>{840,71}</string>
            </dict>
            <key>spring2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{840,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,76}}</string>
                <key>sourceSize</key>
                <string>{840,76}</string>
            </dict>
            <key>spring3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{840,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,221}}</string>
                <key>sourceSize</key>
                <string>{840,221}</string>
            </dict>
            <key>springGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{840,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,49}}</string>
                <key>sourceSize</key>
                <string>{840,49}</string>
            </dict>
            <key>springGround1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1255},{840,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,49}}</string>
                <key>sourceSize</key>
                <string>{840,49}</string>
            </dict>
            <key>summerGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,844},{600,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,38}}</string>
                <key>sourceSize</key>
                <string>{600,38}</string>
            </dict>
            <key>wholeClouds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{840,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,222}}</string>
                <key>sourceSize</key>
                <string>{840,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tp_bg.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff06ba590f3eadf9b36bbdee68038869:1/1$</string>
            <key>textureFileName</key>
            <string>tp_bg.png</string>
        </dict>
    </dict>
</plist>
