<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,272},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>bossBomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{59,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,86}}</string>
                <key>sourceSize</key>
                <string>{59,86}</string>
            </dict>
            <key>bossBomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{60,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,86}}</string>
                <key>sourceSize</key>
                <string>{60,86}</string>
            </dict>
            <key>bossFire.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,125},{59,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,86}}</string>
                <key>sourceSize</key>
                <string>{59,86}</string>
            </dict>
            <key>bossShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,88},{59,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,86}}</string>
                <key>sourceSize</key>
                <string>{59,86}</string>
            </dict>
            <key>bossSpawner.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,64},{59,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,86}}</string>
                <key>sourceSize</key>
                <string>{59,86}</string>
            </dict>
            <key>greenL.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,232},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>greenLQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>greenM.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,90},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{58,84}</string>
            </dict>
            <key>greenS.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,186},{28,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{28,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>ice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,308},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>movingBarBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{14,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,95}}</string>
                <key>sourceSize</key>
                <string>{14,95}</string>
            </dict>
            <key>necroBlip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{43,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{43,86}}</string>
                <key>sourceSize</key>
                <string>{57,86}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,272},{27,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{27,84}}</string>
                <key>sourceSize</key>
                <string>{41,84}</string>
            </dict>
            <key>redL.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,247},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>redLHP1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,211},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>redLHP2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,186},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>redM.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,176},{43,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{43,84}}</string>
                <key>sourceSize</key>
                <string>{57,84}</string>
            </dict>
            <key>shield1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,202},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>shield2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,104},{64,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>shield3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{64,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>shield4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{58,84}</string>
            </dict>
            <key>speed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,170},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>splitter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,149},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>stone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>stone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,264},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>yellowL.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{111,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{111,86}}</string>
                <key>sourceSize</key>
                <string>{125,86}</string>
            </dict>
            <key>yellowLQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{111,86}}</string>
                <key>sourceSize</key>
                <string>{125,86}</string>
            </dict>
            <key>yellowM.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,18},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>yellowMQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>yellowM_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,18},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>yellowS.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,146},{54,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{54,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>yellowSQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,90},{54,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{54,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tp_slider.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d79a6d97391ff0516698ccdc22efa09$</string>
            <key>textureFileName</key>
            <string>tp_slider.png</string>
        </dict>
    </dict>
</plist>
