<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{12,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{12,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>1full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{12,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{12,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,408},{34,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{34,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,453},{34,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{34,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>2empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,381},{34,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{34,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,464},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,408},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,455},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,408},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,105},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,105},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,105},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,408},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,464},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,408},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,426},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>comboHolder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,35}}</string>
                <key>sourceSize</key>
                <string>{406,35}</string>
            </dict>
            <key>damageIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,455},{44,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>enemyHealthIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>enemyHealthIconDeath.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,65},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>enemyHealthIconDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,65},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{58,65}</string>
            </dict>
            <key>enemyHealthIconDragonPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,65},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{58,65}</string>
            </dict>
            <key>enemyHealthIconKnight.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>enemyHealthIconOgre.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,65},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>healthBarBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{259,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,42}}</string>
                <key>sourceSize</key>
                <string>{259,42}</string>
            </dict>
            <key>heroHealthIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>leaderboardBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,65},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>powerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,129},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>quitBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,213},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>resumeBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,213},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>rewardBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,158},{248,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,226}}</string>
                <key>sourceSize</key>
                <string>{248,226}</string>
            </dict>
            <key>rewardBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,158},{232,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,53}}</string>
                <key>sourceSize</key>
                <string>{232,53}</string>
            </dict>
            <key>whiteBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{154,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,12}}</string>
                <key>sourceSize</key>
                <string>{154,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tp_ui.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aca754f3a392e900f3cefc1775dd5a4:d448b561883c9cf6d9e5a860f3728cb2:03328daef860a35d9ef99b13f013e06e$</string>
            <key>textureFileName</key>
            <string>tp_ui.png</string>
        </dict>
    </dict>
</plist>
