<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>box_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,468},{40,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>sourceSize</key>
			<string>{40,46}</string>
		</dict>
		<key>box_1_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,468},{40,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>sourceSize</key>
			<string>{40,46}</string>
		</dict>
		<key>box_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,300},{46,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,52}}</string>
			<key>sourceSize</key>
			<string>{46,52}</string>
		</dict>
		<key>box_3_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,406},{46,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,52}}</string>
			<key>sourceSize</key>
			<string>{46,52}</string>
		</dict>
		<key>box_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,406},{60,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,68}}</string>
			<key>sourceSize</key>
			<string>{60,68}</string>
		</dict>
		<key>box_5_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,440},{60,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,68}}</string>
			<key>sourceSize</key>
			<string>{60,68}</string>
		</dict>
		<key>button_lingqu_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,2},{190,66}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{190,66}}</string>
			<key>sourceSize</key>
			<string>{190,68}</string>
		</dict>
		<key>button_lingqu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,2},{190,66}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{190,66}}</string>
			<key>sourceSize</key>
			<string>{190,68}</string>
		</dict>
		<key>button_lingqu_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,194},{182,68}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{182,68}}</string>
			<key>sourceSize</key>
			<string>{190,68}</string>
		</dict>
		<key>general_btn_invite_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,300},{104,60}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,9},{104,60}}</string>
			<key>sourceSize</key>
			<string>{140,82}</string>
		</dict>
		<key>general_btn_invite_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,194},{104,66}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,4},{104,66}}</string>
			<key>sourceSize</key>
			<string>{140,82}</string>
		</dict>
		<key>icon-bihetang_60percent.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,378},{74,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,60}}</string>
			<key>sourceSize</key>
			<string>{74,60}</string>
		</dict>
		<key>invite_friends.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,348},{134,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{134,34}}</string>
			<key>sourceSize</key>
			<string>{138,38}</string>
		</dict>
		<key>left_people.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,2},{152,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,40}}</string>
			<key>sourceSize</key>
			<string>{152,40}</string>
		</dict>
		<key>lingjiang_time.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,2},{294,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,26}}</string>
			<key>sourceSize</key>
			<string>{294,26}</string>
		</dict>
		<key>probar_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,2},{340,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,18}}</string>
			<key>sourceSize</key>
			<string>{340,18}</string>
		</dict>
		<key>probar_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{344,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{344,22}}</string>
			<key>sourceSize</key>
			<string>{344,22}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>_GUIInviteFriendsKakao_Ch.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4ce200dddf2a8847bc3acb557e51608a$</string>
		<key>textureFileName</key>
		<string>_GUIInviteFriendsKakao_Ch.png</string>
	</dict>
</dict>
</plist>
