<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button-mashangchufa-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,586},{180,70}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{180,70}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>button-mashangchufa-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,202},{198,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{198,76}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>button-mashangquqiang-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,402},{182,72}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{182,72}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>button-mashangquqiang-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{198,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{198,76}}</string>
                <key>sourceSize</key>
                <string>{210,92}</string>
            </dict>
            <key>game_add_moves_back_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>girlFestival_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{84,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>girlFestival_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{526,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,172}}</string>
                <key>sourceSize</key>
                <string>{526,172}</string>
            </dict>
            <key>start_end_diamond_add_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,586},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_GUISpring_Ch.png</string>
            <key>size</key>
            <string>{254,781}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ad0516e841f45147ffc3621fadb34f4:1/1$</string>
            <key>textureFileName</key>
            <string>_GUISpring_Ch.png</string>
        </dict>
    </dict>
</plist>
