<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_gengduozuanshi-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,50},{144,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>button_gengduozuanshi-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,118},{148,62}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,62}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>images-panel-bohetangbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{182,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{182,184}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>images-panel-zhekou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,66},{88,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>images-panel-zhekou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,116},{88,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>images-panel-zuanshibeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{182,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{182,184}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>shop_btn_info_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,156},{42,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>shop_btn_info_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,168},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>shop_cell_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,210}}</string>
                <key>sourceSize</key>
                <string>{294,210}</string>
            </dict>
            <key>shop_continue_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,66},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>shop_continue_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>shop_delete_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,210},{12,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,2}}</string>
                <key>sourceSize</key>
                <string>{12,2}</string>
            </dict>
            <key>shop_diamond_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,66},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>shop_diamond_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{206,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,46}}</string>
                <key>sourceSize</key>
                <string>{206,46}</string>
            </dict>
            <key>shop_diamond_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>shop_heart_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,66},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>shop_heart_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,2},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>shop_item_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,66},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>shop_item_panel_strip.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,168},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>shop_item_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>shop_label_big_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{350,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,126}}</string>
                <key>sourceSize</key>
                <string>{350,126}</string>
            </dict>
            <key>shop_label_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,186},{26,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>shop_label_first_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,130},{319,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,36}}</string>
                <key>sourceSize</key>
                <string>{319,36}</string>
            </dict>
            <key>shop_line_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,182},{106,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,12}}</string>
                <key>sourceSize</key>
                <string>{108,16}</string>
            </dict>
            <key>shop_line_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,66},{102,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,12}}</string>
                <key>sourceSize</key>
                <string>{102,14}</string>
            </dict>
            <key>shop_line_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,186},{101,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,12}}</string>
                <key>sourceSize</key>
                <string>{101,14}</string>
            </dict>
            <key>shop_line_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,200},{101,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,12}}</string>
                <key>sourceSize</key>
                <string>{101,14}</string>
            </dict>
            <key>shop_mark_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,116},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>shop_mark_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,116},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>shop_mark_promotion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,116},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>shop_mark_temp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,116},{87,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>shop_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,168},{152,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,42}}</string>
                <key>sourceSize</key>
                <string>{152,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_GUIShop_Ch.png</string>
            <key>size</key>
            <string>{1734,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:258e41b34abd28996b33bc8b116b2332:1/1$</string>
            <key>textureFileName</key>
            <string>_GUIShop_Ch.png</string>
        </dict>
    </dict>
</plist>
