<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image_DiamondBuy_monster_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{201,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{201,226}}</string>
                <key>sourceSize</key>
                <string>{207,232}</string>
            </dict>
            <key>image_DiamondBuy_monster_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,230},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>image_DiamondBuy_monster_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,333},{85,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>image_DiamondBuy_monster_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,230},{101,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{101,102}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>image_DiamondBuy_monster_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,333},{83,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{83,92}}</string>
                <key>sourceSize</key>
                <string>{87,98}</string>
            </dict>
            <key>image_DiamondBuy_monster_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,333},{92,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{94,88}</string>
            </dict>
            <key>images_panel_newDiamondBuy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{285,253}}</string>
                <key>sourceSize</key>
                <string>{289,257}</string>
            </dict>
            <key>wenzi_bohetang.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,299},{99,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,32}}</string>
                <key>sourceSize</key>
                <string>{103,36}</string>
            </dict>
            <key>wenzi_bohetangda.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,341},{119,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{119,40}}</string>
                <key>sourceSize</key>
                <string>{123,44}</string>
            </dict>
            <key>wenzi_bohetangshangxianplus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{227,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,40}}</string>
                <key>sourceSize</key>
                <string>{227,40}</string>
            </dict>
            <key>wenzi_huode.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,383},{66,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,32}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>wenzi_mashangjixubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{328,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{328,40}}</string>
                <key>sourceSize</key>
                <string>{332,44}</string>
            </dict>
            <key>wenzi_zensong.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,341},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,40}}</string>
                <key>sourceSize</key>
                <string>{86,44}</string>
            </dict>
            <key>wenzi_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,297},{66,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,31}}</string>
                <key>sourceSize</key>
                <string>{70,35}</string>
            </dict>
            <key>wenzi_zuanshida.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,40}}</string>
                <key>sourceSize</key>
                <string>{86,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_GUIDiamondBuy_Ch.png</string>
            <key>size</key>
            <string>{506,425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b06eaa46f7da756f3c5eb64bf4ac8a4:1/1$</string>
            <key>textureFileName</key>
            <string>_GUIDiamondBuy_Ch.png</string>
        </dict>
    </dict>
</plist>
