<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mail_bag_photo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{86,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,94}}</string>
			<key>sourceSize</key>
			<string>{86,94}</string>
		</dict>
		<key>mail_btn_get_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,728},{104,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,60}}</string>
			<key>sourceSize</key>
			<string>{104,60}</string>
		</dict>
		<key>mail_btn_get_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,300},{116,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,72}}</string>
			<key>sourceSize</key>
			<string>{116,72}</string>
		</dict>
		<key>mail_btn_getall_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,534},{192,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,66}}</string>
			<key>sourceSize</key>
			<string>{192,66}</string>
		</dict>
		<key>mail_btn_getall_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,98},{200,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,78}}</string>
			<key>sourceSize</key>
			<string>{200,78}</string>
		</dict>
		<key>mail_btn_send_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,834},{98,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,55}}</string>
			<key>sourceSize</key>
			<string>{98,55}</string>
		</dict>
		<key>mail_btn_send_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,418},{114,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,68}}</string>
			<key>sourceSize</key>
			<string>{114,68}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>_GUIMail_Ch.png</string>
		<key>size</key>
		<string>{90,934}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:098ca2932da9ef96a1ff6763780605ad$</string>
		<key>textureFileName</key>
		<string>_GUIMail_Ch.png</string>
	</dict>
</dict>
</plist>
