<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Images_big_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,295},{165,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,130}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>Images_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,186},{122,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{122,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Images_boy_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,2},{224,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,286}}</string>
                <key>sourceSize</key>
                <string>{224,286}</string>
            </dict>
            <key>Images_boy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{287,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,294}}</string>
                <key>sourceSize</key>
                <string>{287,294}</string>
            </dict>
            <key>Images_boy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{245,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,303}}</string>
                <key>sourceSize</key>
                <string>{245,303}</string>
            </dict>
            <key>Images_boy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{213,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,299}}</string>
                <key>sourceSize</key>
                <string>{213,299}</string>
            </dict>
            <key>Images_clock_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{290,291}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{290,291}}</string>
                <key>sourceSize</key>
                <string>{290,303}</string>
            </dict>
            <key>Images_clock_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,350},{78,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,158}}</string>
                <key>sourceSize</key>
                <string>{78,158}</string>
            </dict>
            <key>Images_clock_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,442},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Images_down_look_cute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,416},{76,85}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{76,85}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>Images_game_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,170}}</string>
                <key>sourceSize</key>
                <string>{438,170}</string>
            </dict>
            <key>Images_game_succeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{432,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,160}}</string>
                <key>sourceSize</key>
                <string>{432,160}</string>
            </dict>
            <key>Images_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,308},{106,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,47},{106,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Images_image_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,307},{574,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,192}}</string>
                <key>sourceSize</key>
                <string>{574,192}</string>
            </dict>
            <key>Images_kuaishiyongdaoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,298},{188,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,132}}</string>
                <key>sourceSize</key>
                <string>{188,132}</string>
            </dict>
            <key>Images_left_right_look_cute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,399},{74,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{74,85}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>Images_monster_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,323},{74,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{74,85}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>Images_monster_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,323},{74,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{74,83}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>Images_monster_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,416},{74,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{74,85}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>Images_monster_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,156},{78,87}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>Images_monster_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,290},{138,162}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{138,162}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Images_new_arrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{87,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,59}}</string>
                <key>sourceSize</key>
                <string>{87,59}</string>
            </dict>
            <key>Images_new_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,84},{70,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>Images_praise0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,84},{136,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,74}}</string>
                <key>sourceSize</key>
                <string>{136,76}</string>
            </dict>
            <key>Images_praise1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,350},{146,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,78}}</string>
                <key>sourceSize</key>
                <string>{148,80}</string>
            </dict>
            <key>Images_praise2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,436},{212,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,70}}</string>
                <key>sourceSize</key>
                <string>{212,70}</string>
            </dict>
            <key>Images_praise3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,2},{256,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,80}}</string>
                <key>sourceSize</key>
                <string>{256,80}</string>
            </dict>
            <key>Images_small_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,84},{131,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,100}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>Images_talk_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,295},{232,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{232,166}}</string>
                <key>sourceSize</key>
                <string>{238,172}</string>
            </dict>
            <key>Images_up_look_cute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,245},{76,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{76,85}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>Images_zhuijiajiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{346,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,134}}</string>
                <key>sourceSize</key>
                <string>{346,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_Images_Ch.png</string>
            <key>size</key>
            <string>{2033,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9cd10908b661660d80938c96779475f:1/1$</string>
            <key>textureFileName</key>
            <string>_Images_Ch.png</string>
        </dict>
    </dict>
</plist>
