<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butterfly_cell-butterfly2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,429},{25,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{25,40}}</string>
                <key>sourceSize</key>
                <string>{31,46}</string>
            </dict>
            <key>butterfly_cell-butterfly2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,299},{14,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,39}}</string>
                <key>sourceSize</key>
                <string>{14,39}</string>
            </dict>
            <key>butterfly_cell-butterfly_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,327},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>butterfly_cell-butterfly_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,33},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{26,29}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>butterfly_cell-lizi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>logo_green_cell-logo_green_3d_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,125},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>logo_green_cell-logo_green_3d_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,314},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>logo_green_cell-logo_green_3d_eye_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,461},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>logo_green_cell-logo_green_3d_eyeball_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,235},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{9,14}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>logo_green_cell-logo_green_3d_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,378},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>logo_green_cell-logo_green_3d_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,199},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>logo_green_cell-logo_green_3d_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,199},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>logo_green_cell-logo_green_3d_surprised.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,368},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>logo_green_cell-logo_green_3d_whites.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,432},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>logo_new_1_cell-logo_new_dibuxingqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{283,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,366}}</string>
                <key>sourceSize</key>
                <string>{283,366}</string>
            </dict>
            <key>logo_new_1_cell-logo_new_eye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,353},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>logo_new_1_cell-logo_new_eye_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,282},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>logo_new_1_cell-logo_new_eye_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,216},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>logo_new_1_cell-logo_new_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,68},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>logo_new_1_cell-logo_new_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,185},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>logo_new_1_cell-logo_new_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{94,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,64}}</string>
                <key>sourceSize</key>
                <string>{94,64}</string>
            </dict>
            <key>logo_new_1_cell-logo_new_waimiaobian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,378}}</string>
                <key>sourceSize</key>
                <string>{381,378}</string>
            </dict>
            <key>logo_new_1_cell-logo_new_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{369,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,209}}</string>
                <key>sourceSize</key>
                <string>{369,209}</string>
            </dict>
            <key>logo_new_2_cell-logo_new_dibuxingqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{283,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,366}}</string>
                <key>sourceSize</key>
                <string>{283,366}</string>
            </dict>
            <key>logo_new_2_cell-logo_new_eye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,353},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>logo_new_2_cell-logo_new_eye_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,282},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>logo_new_2_cell-logo_new_eye_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,216},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>logo_new_2_cell-logo_new_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,68},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>logo_new_2_cell-logo_new_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,185},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>logo_new_2_cell-logo_new_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{94,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,64}}</string>
                <key>sourceSize</key>
                <string>{94,64}</string>
            </dict>
            <key>logo_new_2_cell-logo_new_waimiaobian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,378}}</string>
                <key>sourceSize</key>
                <string>{381,378}</string>
            </dict>
            <key>logo_new_2_cell-logo_new_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{369,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,209}}</string>
                <key>sourceSize</key>
                <string>{369,209}</string>
            </dict>
            <key>logo_new_blue_cell-logo_new_blue_3d_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,235},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>logo_new_blue_cell-logo_new_blue_3d_eyeball_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,479},{4,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,3}}</string>
                <key>sourceSize</key>
                <string>{4,3}</string>
            </dict>
            <key>logo_new_blue_cell-logo_new_blue_3d_eyeball_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,80},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
            <key>logo_new_blue_cell-logo_new_blue_3d_eyeball_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,80},{4,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,3}}</string>
                <key>sourceSize</key>
                <string>{4,3}</string>
            </dict>
            <key>logo_new_blue_cell-logo_new_blue_3d_eyeball_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,80},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
            <key>logo_new_blue_cell-logo_new_blue_3d_eyeball_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,260},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>logo_new_blue_cell-logo_new_blue_3d_hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,354},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>logo_new_blue_cell-logo_new_blue_3d_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,125},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>logo_new_blue_cell-logo_new_blue_3d_mouth_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,251},{6,9}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{8,9}</string>
            </dict>
            <key>logo_new_blue_cell-logo_new_blue_3d_whites_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,403},{27,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>logo_new_meteor_star_cell-logo_new_meteor_meteor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,259},{206,8}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{206,8}}</string>
                <key>sourceSize</key>
                <string>{250,18}</string>
            </dict>
            <key>logo_new_orange_cell-logo_new_orange_3d_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,456},{39,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,28}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>logo_new_orange_cell-logo_new_orange_3d_eyeball_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,357},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>logo_new_orange_cell-logo_new_orange_3d_eyeball_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,374},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>logo_new_orange_cell-logo_new_orange_3d_eyeball_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,350},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>logo_new_orange_cell-logo_new_orange_3d_eyeball_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,374},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>logo_new_orange_cell-logo_new_orange_3d_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,396},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>logo_new_orange_cell-logo_new_orange_3d_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,330},{45,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,21}}</string>
                <key>sourceSize</key>
                <string>{45,21}</string>
            </dict>
            <key>logo_new_orange_cell-logo_new_orange_3d_whites_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,324},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>logo_new_pink_cell-logo_new_pink_3d_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,290},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>logo_new_pink_cell-logo_new_pink_3d_eye_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,68},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>logo_new_pink_cell-logo_new_pink_3d_eyeball.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,283},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>logo_new_pink_cell-logo_new_pink_3d_eyeball_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,282},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>logo_new_pink_cell-logo_new_pink_3d_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,370},{6,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{6,5}</string>
            </dict>
            <key>logo_new_pink_cell-logo_new_pink_3d_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,365},{12,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,7}}</string>
                <key>sourceSize</key>
                <string>{12,7}</string>
            </dict>
            <key>logo_new_pink_cell-logo_new_pink_3d_mouth_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,80},{4,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,7}}</string>
                <key>sourceSize</key>
                <string>{4,7}</string>
            </dict>
            <key>logo_new_pink_cell-logo_new_pink_3d_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,236},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>logo_new_pink_cell-logo_new_pink_3d_whites.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,340},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>logo_new_purple_cell-logo_new_purple_3d_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,138},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>logo_new_purple_cell-logo_new_purple_3d_eye_whites.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,61},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>logo_new_purple_cell-logo_new_purple_3d_eyeball.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,368},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>logo_new_purple_cell-logo_new_purple_3d_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,298},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>logo_new_purple_cell-logo_new_purple_3d_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,311},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>logo_new_purple_cell-logo_new_star_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,243},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>logo_new_yellow_cell-logo_new_yellow_3d_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,86},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>logo_new_yellow_cell-logo_new_yellow_3d_eye_ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,479},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>logo_new_yellow_cell-logo_new_yellow_3d_eyeball.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,374},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>logo_new_yellow_cell-logo_new_yellow_3d_eyeball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,354},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>logo_new_yellow_cell-logo_new_yellow_3d_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,364},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>logo_new_yellow_cell-logo_new_yellow_3d_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,485},{5,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,2}}</string>
                <key>sourceSize</key>
                <string>{5,2}</string>
            </dict>
            <key>logo_new_yellow_cell-logo_new_yellow_3d_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,227},{11,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,7}</string>
            </dict>
            <key>logo_new_yellow_cell-logo_new_yellow_3d_mouth_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,80},{4,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,8}}</string>
                <key>sourceSize</key>
                <string>{4,8}</string>
            </dict>
            <key>logo_new_yellow_cell-logo_new_yellow_3d_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,361},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{40,18}</string>
            </dict>
            <key>logo_new_yellow_cell-logo_new_yellow_3d_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,350},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GUIMainMenuArmature.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0b1970c32e2cdd91f20f6f41a22b79d:1/1$</string>
            <key>textureFileName</key>
            <string>GUIMainMenuArmature.png</string>
        </dict>
    </dict>
</plist>
